.top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.body {
    background-color:#F9F7F7;
    padding-top: 2%;
    margin: 5%;
    margin-top: 2%;

}
.left {
    width: 60%;
    margin: 20px;
    margin-left: 0%;
    margin-right: 0%;
}

.right {
    width: 40%;
    margin: 20px;
    margin-right: 0%;
    margin-left: 5%;
    margin-top: 4%;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;

}
.description {
    width: 40rem;
    height: 20rem;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%
}
.margina {
    margin-left: 8rem;
}

.marginb {
    margin-left: 2.5rem;
}

.marginc {
    margin-left: 1rem;
    padding: 0.5%
}
.margind {
    margin-right: 1rem;
    margin-left: -0.2rem;
    padding: 0.5%;
}
