.centerText {
    text-align: center;
}

.left {
    width: 50%;
    margin: 20px;
    text-align: center;
}

.right {
    width: 50%;
    margin: 20px;
}

.mainContent{
    display: flex;
    justify-content: center;
}