.list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .container {
    margin-top: 2.5rem;
    margin-left: 4rem;
    background-color: white;
  }

  .heading {
    text-align: center;
  }