.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    background-color: #DBE2EF;
}


.navbar :any-link {
    color: black;
    text-decoration: none;
    margin: 20px;  

}

.layout {
    margin-bottom: 0;
}
  

  
