.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}